apiVersion: v1
kind: Service
metadata:
  name: node-service-example
spec:
  selector:
    run: app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
      nodePort: 31000
  type: NodePort
